body{
    background-color: beige;
}
h1{
    text-align: center;
}
u{  
    text-align:center;
    color : #1784A4 ;
}
#btn1{
    color : #1784A4;
    margin-left : 45%;
}
#btn2{
    color : #1784A4;
    margin-left : 2%;
}
#btn3{
    margin-left: 45%;
}
img{
    margin-top: 7%;
    margin-left: 40%;
}
h2{
    color : #0DBDF1 ;
    text-align: center;
}
p{
    text-align: center;
}